<%- include('header') %>

<% for(let pokemon of pokemons) { %>
    <div class="thumbnail">
        <img src="/img/<%= pokemon.numero %>.png" alt="Illustration de <%= pokemon.nom %>">
        <span># <%= pokemon.numero %> <%= pokemon.nom %></span>
    </div>
<% } %>

<%- include('footer') %>